port = 8000
friendbot_secret = "{{getenv "FRIENDBOT_SECRET"}}"
network_passphrase = "{{getenv "NETWORK_PASSPHRASE"}}"
horizon_url = "{{getenv "HORIZON_URL"}}"
starting_balance = "{{getenv "STARTING_BALANCE"}}"
